@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    London - UK<br />
    Treves Houses - Whitechapel<br />
    <abbr title="Phone">P:</abbr>
    (+44)07907951284
</address>

<address>
    <strong>Support:</strong> <a href="barrera_emilio@hotmail.com">barrera_emilio@hotmail.com</a><br />
</address>
